
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
   background: white; 
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-color: rgb(27, 71, 53);

}

.logo{
    position: relative;
    font-size: 23px;
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.navbar a{
    display:inline-block;
    font-size: 17px;
    color: white;
    text-decoration: none;
    font-weight: 550;
    margin-left: 30px;
    transition: .3s;
}

.navbar a:hover{
    color:crimson;
    padding: 2px;
    font-weight: 8px;
    box-shadow: 2px 3px rgb(190, 190, 59);
    border-radius: 8px;
    background: yellow;
    border: 1px solid crimson;

}


.tech{
    text-align: center;
    margin-top: 120px;
}
/* .tech h2{
    font-size: 45px;
    text-decoration: underline;
} */

.head{
    background-image: linear-gradient(to left, violet, indigo, green, blue, yellow, orange, red);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 50px;
    text-decoration: underline solid black;
    animation: wave 2000ms ease alternate infinite;
    transition: all 0.5s ease;
}

@keyframes wave {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 50vw 10px;
    }
}
.tech p{
    font-size: 18px;
    padding-top: 40px;
}

.icon{
    margin-top: 90px;
}
.icon a{
    font-size: 500%;
    border-radius: 20%;
    border: 5px solid black;
    margin-left: 20%;
    /* box-shadow: 0 0 50px rgb(118, 166, 186); */

}

.icon a:hover{
    background:rgb(17, 76, 86);
    color: white;
    box-shadow: 0 0 50px rgb(26, 79, 88);
}

.icon-2 h2{
    display: inline-flex;
    margin-left: 180px;
    margin-top: 25px;
    font-size: 20px;
}

.btn-box{
    display: inline-block;
    padding: 12px 28px;
    background-color: rgb(26, 79, 88);
    border-radius: 40px;
    font-size: 16px;
    color: whitesmoke;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
}
.btn-box:hover{
    box-shadow: 0 0 5px rgb(26, 79, 88), 0 0 25px rgb(26, 79, 88),
    0 0 50px rgb(26, 79, 88),0 0 100px rgb(26, 79, 88), 0 0 200px rgb(26, 79, 88)
}
.btn{
    margin-left: 420px;
    margin-top: 100px;
    margin-bottom: 50px;
}

.soc h3{
    text-align: center;
    font-size: 45px;
    color: black;
    margin-left: 30px;
    padding-top: 20px;

}
.soc-1 {
    display: flex;
    margin: 10px 40%;
    padding-bottom: 20px;
}

.soc-1 a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
    background: transparent;
    border: 2px solid black;
    border-radius: 100%;
    font-size: 40px;
    color: black;
    text-decoration: none;
    margin: 30px 18px 10px 0;
    padding: 30px 10px;

}
.soc-1 a:hover{
    background: aqua;
    color: #081b29;
    box-shadow: 0 0 20px #0ef;
    border: 2px solid aqua;
}
.social{
    background-image: url(Photos/connect.jpg);
    background-size: 100% 125%;
    background-repeat: no-repeat;
}
