*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
   background: white; 
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    /* background-color: #7b0707; */
    background-color: rgb(27, 71, 53);
}

.logo{
    position: relative;
    font-size: 23px;
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.navbar a{
    display:inline-block;
    font-size: 17px;
    color: white;
    text-decoration: none;
    font-weight: 550;
    margin-left: 30px;
    transition: .3s;
}

.navbar a:hover{
    color:crimson;
    padding: 2px;
    font-weight: 8px;
    box-shadow: 2px 3px rgb(190, 190, 59);
    border-radius: 8px;
    background: yellow;
    border: 1px solid crimson;

}

p,h2,img,h3{
    position: relative;
    z-index:1;
    margin: 10px 10%;
}

section{
    padding: 40px 0;
}

.Image{
    height: 250px;
    background-size:cover;
    background-attachment: fixed;
    background-position: center;
    background-image: url(Photos/laptop.jpg); 
}

/* .profile{
    background: #912c2c;
    position: relative;
}

.profile::before{
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 140%;
    height: 105%; */
    /* background: #ffffff; */
    /* background-image: url(Photos/crystal.jpg);
    background-size: cover;
    rotate: -3deg;
    translate: -50% -50%;
}

.comb{
    display: flex;
}

.intro p{
    text-align: justify;
    font-size: 15px;
}
.profile h2{
    text-decoration: underline;
    font-size: 30px;
    font-weight: 400px;
    text-align: center;
}
.ayuImg img{
    height: 290px;
    width: 270px;
    margin: 30px 30px 0px -10px;
    box-shadow: 10px 10px rgb(54, 52, 52);
}


.container{
    display: flex;
}

.cdac p, .bsc p, .mca p{
    text-align: justify;
    font-size: 15px;
}
.cdac, .mca, .bsc{
    background-color: aliceblue;
} */

/* footer{
    background-image: url(Photos/leaves.jpg);
    background-size:400px;
    background-repeat: no-repeat;
    padding: 20px;
    align-items: center;
} */

/* .final{
    background: #912c2c;
    position: relative;
}
.final::before{
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 140%;
    height: 105%; */
    /* background: #ffffff; */
    /* background-image: url(Photos/leaves.jpg);
    background-size: cover;
    rotate: -3deg;
    translate: -50% -50%;
}
.final h3{
    text-align: center;
    padding: 20px;
    font-size: 20px;
} */

 .profile{
    background-image: url(Photos/crystal.jpg);
    background-size: cover;
 }
 .comb{
    display: flex;
 }
 .intro p{
    text-align: justify;
    font-size: 15px;
}
.profile h2{
    text-decoration: underline;
    font-size: 30px;
    font-weight: 400px;
    text-align: center;
}

 .ayuImg img{
    height: 290px;
    width: 270px;
    margin: 30px 30px 0px -10px;
    box-shadow: 10px 10px rgb(54, 52, 52);
}
.container{
    display: flex;
}

.cdac p, .bsc p, .mca p{
    text-align: justify;
    font-size: 15px;
}

footer{
    background-image: url(Photos/leaves.jpg);
    background-size:100% 100%;
    background-repeat: no-repeat;
    padding: 20px;
    align-items: center;
}
.final h3{
    text-align: center;
    padding: 22px;
    font-size: 35px;
    text-shadow: 3px 3px rgb(57, 200, 205);
}